{% extends 'blog/layout.html.twig' %}

{% block postLinks %}
    {{ parent() }}
<ul>
    {% for post in posts %}

        <li>{{ post.Title}} - <a href="{{ path('show_post', {'slug': post.slug}) }}">View</a></li>

    {% endfor %}
</ul>
{% endblock %}

{% block randommsg %}
<h3>this is a message</h3>
{% endblock %}