<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        <p>Random Number of the second is : <strong>{{ number }}</strong></p>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
